body{
	background-image: url("background.gif");
	margin-left: 10%;
	margin-right: 10%;	
}
#friends{
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	margin-top: 10px;
	padding: 5px;
	float: left;
	width: 150px;	
}
*:hover {
    background: yellow;
}
.journal {
	border: 4px #C2E9E9 solid;
	padding: 5px;
	background-color: #E8FBFB;
	margin-top: 10px;	
	overflow: hidden;
	margin-left: 180px;
}
li{
	margin: 2px;
	}
#bordered{
	border: 10px white solid;
	background-color: white;
}
.date{
border-bottom: 2px blue dashed;
}
#head{
	text-align: right;
	background-color: #A8F0F0;
}
#head h2{
	font-size: 14pt;
	padding: 5px;
}
#cookie {
	float: right;
}
#spatula{
	float: right;
}
	
